{% extends 'base.html' %}
{% load static %}
{% block head-footer %}
<!DOCTYPE html>
<html lang="en" class="Box" style="text-align: center;"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="hiasan/css/style.css"/> -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap" rel="stylesheet">
    <title>Aryaputra Athallah</title>
</head>
<body >
    <div class="wrapper">
            <img class="myphoto" src="{% static 'image/Group 8.png' %}">
            <div class="namaku">
                <h1>ARYAPUTRA ATHALLAH</h1>
            </div>
            <p id="motivasi">"Being a human who is useful for the nation and family"</p>
            <hr class="garis">
            <p id="hello">Hello Everyone!</p>
            <div class="mid">
                <p> I’m Arya, student of Faculty of Computer in Universitas Indonesia.</p> 
                <p>I have a dream to become a person who is useful for the nation and my family. I also record my life with my photography and videography skill.</p>
            </div>
            <hr class="garis">
            <div class="identity">
                <p style="font-weight: bold;">Identity</p>
                
                    <p>NPM : 1906292931</p>
                    <p>Angkatan : 2019</p>
                    <p>TTL : Jakarta, 21 Desember 2020</p>
                
                <p style="font-weight: bold;">Education</p>
                
                    <p>SMAN 6 BOGOR (2016 - 2019) </p>
                    <p>SMPN 5 BOGOR (2013 - 2016) </p>
                    <p>SDN SUKADAMAI 3 (2007 - 2013) </p>
                
                <p style="font-weight: bold;">Interest In</p>
                
                    <p>Photography</p>
                    <p>Videography</p>
                    <p>Programming</p>
                    <p>Music</p>
                    <p>Basketball</p>
                
                <p style="font-weight: bold;">Skill</p>
                
                    <p>Adobe Premiere Pro</p>
                    <p>Adobe Illustrator</p>
                    <p>Figma</p>
                    <p>Java Programming Language</p>
                    <p>Python Programming Language</p>
                
            </div>

    </div>
</body>
</html>

{% endblock %}