@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.navigasi {
    color: white;
    font-family: Poppins;
    font-weight: bold;
}
.nav-link {
    font-weight: 100;
    color: red;
}
.cover {
    position: relative;
    height: 600px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.daftarisi {
    display: flex;
    width: 60%;
    margin: auto;
    height: 10vh;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;
    color: #ffffff;
    font-family: Poppins;
}

.myname {
    font-family: Poppins;
    color: white
}

#welcome {
    font-family: Poppins;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 40px;
}

#searchArea[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #3E4D5E;
    border-radius: 4px;
    box-sizing: border-box;
  }

.atas {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #253A3C;
    margin-top: 100px;
}
 .teks{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
 }


.penutup {
    position: relative;
    height: 300px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.penutup h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 56px;
    color: #C9CBB9;
    text-align: center;
    margin-top: 25px;
}

.cr {
    font-family: Poppins;
    font-style: normal;
    font-weight: 250;
    font-size: 22px;
    line-height: 33px;
    color: #C9CBB9;
    text-align: center;
    margin-top: 25px;
}

.col-sm-4 {
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
    color: #253A3C;
}



@media screen and (max-width:710px) {
    td {
        font-size: small;
    } 
    .teks {
        font-size: medium;
    }
    .atas {
        font-size: xx-large;
    }
    .penutup h1 {
        font-size: xx-large;
    }
    .cr {
        font-size: larger;
    }
    .icon1 {
        width: 6%;
    }
    .icon2 {
        width: 13%;
    }
    #portofolio {
        margin-top: 50px;
    }
    .daftarisi {
        margin: auto;
        font-size: medium;
    }
}

/* STORY 7 PACK */

