
body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.cover {
    position: relative;
    height: 600px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.daftarisi {
    display: flex;
    width: 50%;
    margin: auto;
    height: 10vh;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-family: Proxima Nova;
}

.myname {
    text-align: center;
    position: absolute;
    font-family: Proxima Nova;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#welcome {
    font-family: Proxima Nova;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 250;
}

/* .wrapper {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
} */

.atas {
    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #253A3C;
}
 .teks{
    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
 }

.experience {
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #253A3C;
 }

.penutup {
    position: relative;
    height: 300px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.penutup h1 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 56px;
    color: #C9CBB9;
    text-align: center;
}

.cr {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 250;
    font-size: 22px;
    line-height: 33px;
    color: #C9CBB9;
    text-align: center;
}

table, th, td {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}



@media screen and (max-width:710px) {
    th{
        display: block;
        text-align: center;
    }
    td {
        display: none;
    }
    .photo {
        width: 90%;
    }

    .photokotak {
        display: block;
        margin-left: auto;
    }
    p {
        text-align: center;
    }
}