{% load static %}



<footer>
    <div class="penutup" style="background-image: url(static/Group20.png);">
    <h1>Contact Me</h1>
    <p style="text-align: center;"><a href="https://www.instagram.com/aryaputra213/">
        <img class="icon" src="{% static 'image/about/instagram.png' %}" class="img-fluid" alt="Responsive image" > 
        <a href="https://www.linkedin.com/in/aryaputra-athallah-63b5a3199/">
        <img class="icon" src="{% static 'image/linkedin.png' %}" style= "padding-left: 20px;" class="img-fluid" alt="Responsive image"></a>
    </p>
    <p class="cr">Copyright © 2020 Arya, All right reserved</p>
    </div>
</footer>
</html>
