{% load static %}

<!DOCTYPE html>
<html lang="en" class="Box" > 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'desain/style1.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "icon" type = "image/png" href = "{% static 'image/AR.png' %}">
    <title>Aryaputra Athallah</title>
</head>
<header>
    <div class="cover" style="background-image: url(static/Group19.png);">
        <nav>
            <ul class="daftarisi">
                <li><a style="font-weight: bold;" class="daftarisi" href="/">About</a></li>
                <li><a style="font-weight: normal;" class="daftarisi" href="portofolio">Portofolio</a></li>
            </ul>
        </nav>
        <div class="myname">
            <h2>Aryaputra Athallah</h2>
            <p id="welcome">Welcome to my web</p>
        </div>
    </div>
</header>



