{% load static %}
<!DOCTYPE html>
<html style="text-align: center;">
     <head>
          <meta charset="utf-8">
          <h1>ARYAPUTRA ATHALLAH</h1>
     </head>
     <body>
          <img src="{% static 'Arya.jpg' %}" width="300" height="400">
        <h3>About Me</h3>
        <p> Name : Aryaputra Athallah</p>
        <p> NPM : 1906292931</p>
        <p> Angkatan : 2019</p>
        <p> Hobby : Playing Guitar</p>
        <p> Description : Someone who loves music and instrument</p>
        <h3>Education</h3>
        <p> University : Faculty of Computer Science, Universitas Indonesia</p>
        <p> Educational Background : </p>
            <p>2007 - 2013 SDN SUKADAMI 3</p>
            <p>2013 - 2016 SMPN 5 BOGOR</p>
            <p>2016 - 2019 SMAN 6 BOGOR</p>
        <h3>My Contact</h3>
        <p>Instagram : @aryaputra213</p>
        <p>Linked In : https://www.linkedin.com/in/aryaputra-athallah-63b5a3199/</p>
     </body>
</html>