{% load static %}
<!DOCTYPE html>
<html lang="en" class="Box" > 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'desain/style1.css' %}"/>
    <title>Aryaputra Athallah</title>
</head>
<body>
    <div class="cover" style="background-image: url(static/Group19.png);">
        <nav>
            <ul class="daftarisi">
                <li><a style="font-weight: bold;" class="daftarisi" href="/">About</a></li>
                <li><a style="font-weight: normal;" class="daftarisi" href="portofolio">Portofolio</a></li>
            </ul>
        </nav>
        <div class="myname">
            <h2>Aryaputra Athallah</h2>
            <p id="welcome">Welcome to my web</p>
        </div>
    </div>
    <!-- <div class="hiasan">
        <img src="image/about/Group 3.png"
    </div> -->
    <div class="wrapper" >
        <img id="myphoto" src="{% static 'image/about/Group 8.png' %}" style="display: block; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 100px;"> 
        <h1 class="atas">About Me</h1>
        <p class="teks">I’m a Computer Science student in Universitas Indonesia, I have an interest in web development and mobile development. So this is my first website :)</p>
        <p class="teks">Photography and videography are also part of my life, so if you want to have some project with me, click my social media below hehehe</p>
        <h1 class="atas">Experience</h1>
        <table class="experience">
            <tr >
                <th><img src="{% static 'image/about/Group 11.png' %}"></th>
                <th><img src=" {% static 'image/about/Group 9.png' %}" ></th>
                <th><img src="{% static 'image/about/Group 10.png' %}"></th>
            </tr>
            <tr>
                <td style="font-weight: normal;">Project Officer of Senior High School’s Expo Campus</td>
                <td style="font-weight: normal;">Staff of Documentary at New Student Orientation 2020</td>
                <td style="font-weight: normal;" >Staff of startup Academy COMPFEST 2020</td>
            </tr>
        </table>
        <h1 class="atas">Education</h1>
        <table class="experience" >
            <tr>
                <th><img src="{% static 'image/about/SMPN5Bogor_waifu2x_art_noise3_scale_tta_1 1.png' %}"></th>
                <th><img src="{% static 'image/about/6a82c-logo 1.png' %}"></th>
                <th><img src="{% static 'image/about/makara-ui-fasilkom 1.png' %}"></th>
            </tr>
            <tr>
                <td style="font-weight: Bold;">2013 - 2016</td>
                <td style="font-weight: Bold;"> 2016 - 2019</td>
                <td style="font-weight: Bold;">2019 - NOW</td>
            </tr>
            <tr>
                <td style="font-weight: normal;">SMP NEGERI 5 BOGOR</td>
                <td style="font-weight: normal;">SMA NEGERI 6 BOGOR</td>
                <td style="font-weight: normal;" >UNIVERSITAS INDONESIA</td>
            </tr>
        </table>
        <h1 class="atas">Skills</h1>
        <table >
            <tr>
                <th><img src="{% static 'image/about/premiere-cc 1.png' %}"></th>
                <th><img src="{% static 'image/about/adobe-Illustrator-logo-3.png' %} "></th>
                <th><img src="{% static 'image/about/icon-figma 1.png' %}"></th>
            </tr>
            <tr>
                <td style="font-size:x-large;font-weight: Bold;">9/10</td>
                <td style="font-size:x-large;font-weight: Bold;">6/10</td>
                <td style="font-size:x-large;font-weight: Bold;">6/10</td>
            </tr>
            <tr>
                <th><img src="{% static 'image/about/269-2691398_python-logo-clipart-transparent-background-png-download.png' %}"></th>
                <th><img src="{% static 'image/about/AE.png' %}"></th>
                <th><img src="{% static 'image/about/a309e05f7767a1d905292e33a0a111aa 1.png' %}"></th>
            </tr>
            <tr>
                <td style="font-size:x-large;font-weight: Bold;">8/10</td>
                <td style="font-size:x-large;font-weight: Bold;">5/10</td>
                <td style="font-size:x-large;font-weight: Bold;">7/10</td>
            </tr>
        </table>
    </div>
    <div class="penutup" style="background-image: url(static/Group20.png);">
    <h1>Contact Me</h1>
    <p style="text-align: center;"><a href="https://www.instagram.com/aryaputra213/">
        <img class="icon" src="{% static 'image/about/instagram.png' %}" > 
        <a href="https://www.linkedin.com/in/aryaputra-athallah-63b5a3199/">
        <img class="icon" src="{% static 'image/about/linkedin.png' %}" style= "padding-left: 20px;"></a>
    </p>
    <p class="cr">Copyright © 2020 Arya, All right reserved</p>
    </div>

</body>

</html>