{% load static %}
<!DOCTYPE html>
<html lang="en" class="Box" > 
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Aryaputra Athallah</title>
      <link rel="stylesheet" href="{% static 'desain/style1.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logoContainer">
                <a href="/" id= "myName">AR</a>
            </div>
            <nav>
                <ul class="daftarisi">
                    <li><a class="daftarisi" href="/">Profile</a></li>
                    <li><a class="daftarisi" href="Photography">Photography</a></li>
                </ul>
            </nav>
        </header>
        <h1 id="judul">PHOTOGRAPHY</h1>
        <img id="foto1" src="{% static '835962.jpg' %}" style="width: 596px; height: 398px;">
        <div class="mid">
            <p>Photogrphy is my hobby, I used my hobby to get a money or be a participant as a documentary staff in several event.</p>

            <p>“Your first 1000 photographs are your worst” 
                -Henri Cartier-Bresson</p>
        </div>
        <hr class="garis">
        <div style="display: inline;">
            <img src="{% static 'Photograph_200120_0004.png' %}" style="width: 278px; height: 278px; border-radius: 5px; margin-left: 4px;">
            <img src="{% static 'Photograph_200120_0006_0.png' %}" style="width: 278px; height: 278px; border-radius: 10px; margin-left: 40px;">
        </div>
        <img src="{% static 'Photograph_200120_0007.png' %}" style="width: 608px; height: 342px; margin-top: 10px; margin-bottom: 10px;">
        <img src="{% static 'Photograph_200120_0003.jpg' %}" style="width: 287px; height: 430px;">
        <img src="{% static 'Photograph_200120_0001.jpg' %}" style="width: 287px; height: 430px; margin-left: 30px;">
        <img src="{% static 'Photograph_200120_0005.jpg' %}" style="width: 608px; height: 342px; margin-top:10px ;">
        <hr class="garis">
        <p id="atas">Look Me Up On...</p>
        <p><a href="https://www.instagram.com/aryaputra213/">
                <img class="icon" src="{% static 'instagram.png' %}" style="text-align: center; width: 5%; margin-left: 250px;" >
                </a>
                <span class="tab">
                <a href="https://www.linkedin.com/in/aryaputra-athallah-63b5a3199/">
                    <img class="icon" src="{% static 'linkedin.png' %}" style="text-align: center; width: 5%;">
                </a>
        </p>
    </div>
</body>