{% load static %}
<!DOCTYPE html>
<html lang="en" class="Box" > 
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Aryaputra Athallah</title>
      <link rel="stylesheet" href="{% static 'desain/style.css' %}">
</head>
<body>
    <div class="cover" style="background-image: url(static/835962.jpg);">
        <nav>
            <ul class="daftarisi">
                <li><a style="font-weight: normal;" class="daftarisi" href="/">About</a></li>
                <li><a style="font-weight: bold;" class="daftarisi" href="portofolio">Portofolio</a></li>
            </ul>
        </nav>
        <div class="myname">
            <h2>Aryaputra Athallah</h2>
            <p id="welcome">Welcome to My Portofolio</p>
        </div>
    </div>
    <div class="wrapper">
        <h1 class="atas" style="margin-top: 100px; text-align: center;">Mobile Development UI/UX</h1>
        <p style="text-align: center;">
            <img class="photo" src="{% static 'image/portofolio/Frame 1 1.png' %}" >
            <img class="photo" src="{% static 'image/portofolio/Frame 2 1.png' %}" style="margin-top: 50px;">
        </p>
        <h1 class="atas" style="text-align: center;">Photography</h1>
        <!-- <div class="photokotak" style="display: inline; " > -->
            <p style="text-align: center; display: block">
                <img class="photokotak" src="{% static 'image/portofolio/Photograph_200120_0004.png' %}" style="border-radius: 20px;">
                <img  class ="photokotak" src="{% static 'image/portofolio/Photograph_200120_0006_0.png' %}" style=" margin-left: 50px; border-radius: 20px;">
            </p>
        <!-- </div> -->
        <p  style="text-align: center;">
            <img class="photo"src="{% static 'image/portofolio/Photograph_200120_0007.png' %}" style="border-radius: 20px; margin-top: 10px; margin-bottom: 10px;">
        </p>
        <p style="text-align: center;">
            <img class="photo" src="{% static 'image/portofolio/Photograph_200120_0003.png' %}"style="border-radius: 20px;">
            <img  class="photo" src="{% static 'image/portofolio/Photograph_200120_0001.png' %}" style="margin-left: 40px; border-radius: 20px;">
        </p>
        <p style="text-align: center;">
            <img class="photo" src="{% static 'image/portofolio/Photograph_200120_0005.png' %}" style="border-radius: 20px; margin-top: 10px;">
        </p>
    </div>
    <div class="penutup" style="background-image: url(static/Group20.png);">
        <h1>Contact Me</h1>
        <p style="text-align: center;"><a href="https://www.instagram.com/aryaputra213/">
            <img class="icon" src="{% static 'image/about/instagram.png' %}" > 
            <a href="https://www.linkedin.com/in/aryaputra-athallah-63b5a3199/">
            <img class="icon" src="{% static 'Image/about/linkedin.png' %}" style= "padding-left: 20px;"></a>
        </p>
        <p class="cr">Copyright © 2020 Arya, All right reserved</p>
    </div>
</body>
</html>